# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ===============================
# Virtual Environment
# ===============================
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# ===============================
# Django
# ===============================
db.sqlite3
*.log
local_settings.py

# Django migrations cache
**/migrations/__pycache__/

# ===============================
# Django static & media
# ===============================
staticfiles/
media/

# ===============================
# VS Code
# ===============================
.vscode/
*.code-workspace

# ===============================
# macOS
# ===============================
.DS_Store
.AppleDouble
.LSOverride

# ===============================
# Node / Cypress
# ===============================
node_modules/
cypress/videos/
cypress/screenshots/

# ===============================
# Build / Cache
# ===============================
.cache/
pytest_cache/
.coverage
htmlcov/

# ===============================
# Environment variables
# ===============================
.env
.env.*
